[Desktop Entry]
Type=Link
Name=Monasterio de San Antonio el Real
Comment=Plano interactivo — Proyecto Silencio
URL=https://luisgrajeragit.github.io/monasterio-san-antonio-el-real/
Icon=web-browser
